

<div class="subjects index">
	<h2>Testings</h2>

	<%= link_to("Add New Example",'/testing/new', :class => 'action new') %>
	<table class = "listing" summary="Example list">
		<tr class="header">
			<th>#</th>
			<th>Subject</th>
			<th>Visible</th>
			<th>Actions</th>
		</tr>
		<%  @testings.each do |testing| %>
 		<tr>
 			<td><%= testing.position %></td>
 			<td><%= testing.name %></td>
 			<td class="center"><%= testing.visible ? 'yes' : 'No' %></td>
 			<td class="actions">
 				<%= link_to("Show",{:controller => 'testing',:action=> 'show',:id=>testing.id}, :class => 'action show') %>
 				<%= link_to("Edit", {:controller => 'testing',:action=>'edit',:id=>testing.id}, :class => 'action edit') %>
 				<%= link_to("Delete", {:controller => 'testing',:action=>'delete',:id=>testing.id}, :class => 'action delete') %>
            </td>

 		</tr>	
		<%end%>

	</table>
</div>